In [2]:
import pandas as pd

path = "https://bit.ly/felonies-dataset"
df = pd.read_csv(path)

In [3]:
df.shape

(1000, 3)

In [4]:
df.dtypes

Date of Arrest    object
Age                int64
Convicted         object
dtype: object

In [5]:
df.head()

        Date of Arrest  Age Convicted
0  2014-07-16 14:59:18   77       Yes
1  2002-12-19 22:17:59   28       Yes
2  1994-06-28 09:31:40   21        No
3  1985-05-14 09:52:17   45       Yes
4  1985-05-25 14:06:28   39       Yes

## A la dure

In [7]:
df.rename(columns={"Date of Arrest":"DoA"}, inplace=True)

In [8]:
df.head()

                   DoA  Age Convicted
0  2014-07-16 14:59:18   77       Yes
1  2002-12-19 22:17:59   28       Yes
2  1994-06-28 09:31:40   21        No
3  1985-05-14 09:52:17   45       Yes
4  1985-05-25 14:06:28   39       Yes

In [10]:
df['DoA'].max()

'2020-01-28 13:33:46'

Extraction de seulement l'année pour créer une colonne Year (il faudrait refaire cette méthode pour chaque catégorie, mois, jour, heure, minutes, secondes

In [11]:
df.DoA.str.slice(0,4)

0      2014
1      2002
2      1994
3      1985
4      1985
       ...
995    1992
996    1996
997    1980
998    1999
999    1996
Name: DoA, Length: 1000, dtype: object

### A la cool

In [13]:
pd.to_datetime(df['DoA'])

0     2014-07-16 14:59:18
1     2002-12-19 22:17:59
2     1994-06-28 09:31:40
3     1985-05-14 09:52:17
4     1985-05-25 14:06:28
              ...
995   1992-02-04 14:24:25
996   1996-04-29 18:03:23
997   1980-07-15 21:59:27
998   1999-07-05 17:16:12
999   1996-03-17 18:29:25
Name: DoA, Length: 1000, dtype: datetime64[ns]

In [14]:
df['DoA'] = pd.to_datetime(df['DoA'])

In [15]:
df.dtypes

DoA          datetime64[ns]
Age                   int64
Convicted            object
dtype: object

### on utilise la méthode dt (pour datetime) pour extraire rapidement la partie de la date que l'on veut

In [16]:
df['DoA'].dt.year

0      2014
1      2002
2      1994
3      1985
4      1985
       ...
995    1992
996    1996
997    1980
998    1999
999    1996
Name: DoA, Length: 1000, dtype: int64

In [17]:
df['DoA'].dt.day

0      16
1      19
2      28
3      14
4      25
       ..
995     4
996    29
997    15
998     5
999    17
Name: DoA, Length: 1000, dtype: int64

In [18]:
df['DoA'].dt.month

0       7
1      12
2       6
3       5
4       5
       ..
995     2
996     4
997     7
998     7
999     3
Name: DoA, Length: 1000, dtype: int64

In [20]:
df['DoA'].dt.hour #etc

0      14
1      22
2       9
3       9
4      14
       ..
995    14
996    18
997    21
998    17
999    18
Name: DoA, Length: 1000, dtype: int64

In [37]:
labels=['six','seven','eigh','nine','zero','ten','twen']
labels=[l+"ties" for l in labels]
labels

['sixties',
 'seventies',
 'eighties',
 'nineties',
 'zeroties',
 'tenties',
 'twenties']

In [38]:
from datetime import datetime

year = lambda y: datetime(year=y, month=1, day=15)

bins = list(range(1959,2030,10))

bins = [year(b) for b in bins]

In [39]:
pd.cut(df['DoA'],
      bins=bins,
      labels=labels)

0       tenties
1      zeroties
2      nineties
3      eighties
4      eighties
         ...
995    nineties
996    nineties
997    eighties
998    zeroties
999    nineties
Name: DoA, Length: 1000, dtype: category
Categories (7, object): ['sixties' < 'seventies' < 'eighties' < 'nineties' < 'zeroties' < 'tenties' < 'twenties']

In [40]:
import pandas as pd
path = "https://bit.ly/felonies-dataset"
df = pd.read_csv(path)

In [41]:
df.shape

(1000, 3)

In [42]:
df.dtypes

Date of Arrest    object
Age                int64
Convicted         object
dtype: object

In [43]:
df.head()

        Date of Arrest  Age Convicted
0  2014-07-16 14:59:18   77       Yes
1  2002-12-19 22:17:59   28       Yes
2  1994-06-28 09:31:40   21        No
3  1985-05-14 09:52:17   45       Yes
4  1985-05-25 14:06:28   39       Yes

### Méthode map

In [45]:
df['DoA'] = pd.to_datetime(df['Date of Arrest'])

In [46]:
df.dtypes

Date of Arrest            object
Age                        int64
Convicted                 object
DoA               datetime64[ns]
dtype: object

In [47]:
df.drop('Date of Arrest',
       axis='columns',
       inplace=True)

In [48]:
df.head()

   Age Convicted                 DoA
0   77       Yes 2014-07-16 14:59:18
1   28       Yes 2002-12-19 22:17:59
2   21        No 1994-06-28 09:31:40
3   45       Yes 1985-05-14 09:52:17
4   39       Yes 1985-05-25 14:06:28

In [49]:
dow2weektime = {0:'DEBUT',
                1:'DEBUT',
               2:'MILIEU',
               3:'MILIEU',
               4:'MILIEU',
               5:'WEEKEND',
               6:'WEEKEND'}

In [50]:
df.DoA.dt.dayofweek.map(dow2weektime)

0       MILIEU
1       MILIEU
2        DEBUT
3        DEBUT
4      WEEKEND
        ...
995      DEBUT
996      DEBUT
997      DEBUT
998      DEBUT
999    WEEKEND
Name: DoA, Length: 1000, dtype: object

Une liste un dictionnaire

In [51]:
id2str = ['MONDAY','TUESDAY','WEDNESDAY','THURSDAY','FRIDAY','SATURDAY','SUNDAY']

In [62]:
str2id = { value:idx for idx, value in enumerate(id2str)}
#on passe notre liste en dictionnaire
id2str = { idx:value for idx, value in enumerate(id2str)}

In [63]:
str2id[id2str[0]]

0

In [65]:
str2id

{'MONDAY': 0,
 'TUESDAY': 1,
 'WEDNESDAY': 2,
 'THURSDAY': 3,
 'FRIDAY': 4,
 'SATURDAY': 5,
 'SUNDAY': 6}

On va ainsi pouvoir mapper

In [64]:
df['DoA'].dt.dayofweek.map(id2str)

0      WEDNESDAY
1       THURSDAY
2        TUESDAY
3        TUESDAY
4       SATURDAY
         ...
995      TUESDAY
996       MONDAY
997      TUESDAY
998       MONDAY
999       SUNDAY
Name: DoA, Length: 1000, dtype: object

In [66]:
periodesemaine = {'MONDAY': 'DEBUT',
 'TUESDAY': 'DEBUT',
 'WEDNESDAY': 'MILIEU',
 'THURSDAY': 'MILIEU',
 'FRIDAY': 'MILIEU',
 'SATURDAY': 'WEEKEND',
 'SUNDAY': 'WEEKEND'}

In [81]:
df['Période Semaine'] = df['DoA'].dt.dayofweek.map(id2str).map(periodesemaine)

In [89]:
df

     Age Convicted                 DoA Période Semaine
0     77       Yes 2014-07-16 14:59:18          MILIEU
1     28       Yes 2002-12-19 22:17:59          MILIEU
2     21        No 1994-06-28 09:31:40           DEBUT
3     45       Yes 1985-05-14 09:52:17           DEBUT
4     39       Yes 1985-05-25 14:06:28         WEEKEND
..   ...       ...                 ...             ...
995   72       Yes 1992-02-04 14:24:25           DEBUT
996   68       Yes 1996-04-29 18:03:23           DEBUT
997   87       Yes 1980-07-15 21:59:27           DEBUT
998   27        No 1999-07-05 17:16:12           DEBUT
999   57       Yes 1996-03-17 18:29:25         WEEKEND

[1000 rows x 4 columns]

Pickle va nous permettre de créer un fichier pour conserver nos objets en indiquant notre chemin

In [59]:
import pickle
chemin_disque = 'dictionnaire.pkl'

#en écriture
with open(chemin_disque, 'wb') as f:
    pickle.dump(id2str,f)
    
#en lecture
with open(chemin_disque,'rb') as f:
    objet=pickle.load(f)

In [61]:
objet

['MONDAY', 'TUESDAY', 'WEDNESDAY', 'THURSDAY', 'FRIDAY', 'SATURDAY', 'SUNDAY']

Convertir la colonne en type catégorie (periode semaine)

In [71]:
df.dtypes

Age                         int64
Convicted                  object
DoA                datetime64[ns]
Periode semaine            object
dtype: object

### On convertit la colonne en "category" [ORDINAL]

In [79]:
ordre = ['DEBUT', 'MILIEU', 'WEEKEND']

In [97]:
df['Période Semaine'] = (df['Période Semaine'].astype('category').cat.reorder_categories(ordre))

### On convertit la colonne "category" en "int" [ORDINAL]

In [98]:
df['Période Semaine'].cat.codes

0      1
1      1
2      0
3      0
4      2
      ..
995    0
996    0
997    0
998    0
999    2
Length: 1000, dtype: int8

In [99]:
df['Période Semaine'].cat.categories

Index(['DEBUT', 'MILIEU', 'WEEKEND'], dtype='object')

In [100]:
df['Période Semaine'] = df['Période Semaine'].cat.codes

In [101]:
df

     Age Convicted                 DoA  Période Semaine
0     77       Yes 2014-07-16 14:59:18                1
1     28       Yes 2002-12-19 22:17:59                1
2     21        No 1994-06-28 09:31:40                0
3     45       Yes 1985-05-14 09:52:17                0
4     39       Yes 1985-05-25 14:06:28                2
..   ...       ...                 ...              ...
995   72       Yes 1992-02-04 14:24:25                0
996   68       Yes 1996-04-29 18:03:23                0
997   87       Yes 1980-07-15 21:59:27                0
998   27        No 1999-07-05 17:16:12                0
999   57       Yes 1996-03-17 18:29:25                2

[1000 rows x 4 columns]

## Gérer les cycles

In [155]:
import pandas as pd

path = "https://bit.ly/felonies-dataset"
df = pd.read_csv(path)

df.rename(columns = {'Date of Arrest' : 'DoA'},inplace=True)
df.dtypes

DoA          object
Age           int64
Convicted    object
dtype: object

In [156]:
df['DoA'] = pd.to_datetime(df['DoA'])

In [157]:
df.dtypes

DoA          datetime64[ns]
Age                   int64
Convicted            object
dtype: object

In [158]:
df.head()

                  DoA  Age Convicted
0 2014-07-16 14:59:18   77       Yes
1 2002-12-19 22:17:59   28       Yes
2 1994-06-28 09:31:40   21        No
3 1985-05-14 09:52:17   45       Yes
4 1985-05-25 14:06:28   39       Yes

In [170]:
df.dtypes

DoA          datetime64[ns]
Age                   int64
Convicted            object
dtype: object

In [159]:
df['DoA'].dt.day.max()

31

In [160]:
df['DoA'].dt.month.max()

12

On créé notre colonne temporaire, on multiplie les mois par 100 et on additionne par les jours pour grouper les 2 sur une même ligne

In [161]:
colonne_temporaire = df['DoA'].dt.month * 100 + df['DoA'].dt.day

colonne_temporaire

0       716
1      1219
2       628
3       514
4       525
       ...
995     204
996     429
997     715
998     705
999     317
Name: DoA, Length: 1000, dtype: int64

On créé nos intervalles à mettre dans le cut

In [162]:
AVANT_JANVIER=0
AVANT_PRINTEMPS=320
AVANT_ETE=620
AVANT_AUTOMNE=920
AVANT_HIVER=1220
FIN_ANNEE=1232
bins=[AVANT_JANVIER,
     AVANT_PRINTEMPS,
     AVANT_ETE,
     AVANT_AUTOMNE,
     AVANT_HIVER,
     FIN_ANNEE]

On créé notre cut en précisant un 2 sur le dernier hiver car l'hiver commence à la fin de l'année et on ne peut pas mettre 2 fois hiver dans notre cut

In [163]:
saisons = pd.cut(colonne_temporaire,
                bins=bins,
                labels=['HIVER','PRINTEMPS','ETE','AUTOMNE','HIVER2'])

In [164]:
saisons

0            ETE
1        AUTOMNE
2            ETE
3      PRINTEMPS
4      PRINTEMPS
         ...
995        HIVER
996    PRINTEMPS
997          ETE
998          ETE
999        HIVER
Name: DoA, Length: 1000, dtype: category
Categories (5, object): ['HIVER' < 'PRINTEMPS' < 'ETE' < 'AUTOMNE' < 'HIVER2']

On retire le 2 de notre Hiver pour n'avoir que nos saisons, attention cela remet notre colonne en type object

In [165]:
saisons = saisons.str.replace('2','')

In [166]:
saisons.unique()

array(['ETE', 'AUTOMNE', 'PRINTEMPS', 'HIVER'], dtype=object)

on change à nouveau le type de notre colonne en category

In [167]:
saisons = (saisons.astype('category').
           cat.as_ordered().
           cat.reorder_categories(['AUTOMNE','HIVER','PRINTEMPS','ETE']))

## EXO - refaire avec les heures

In [124]:
df['DoA'].dt.hour.max()

23

In [127]:
df['DoA'].dt.hour.min()

0

In [128]:
df['DoA'].dt.minute.max()

59

In [129]:
df['DoA'].dt.minute.min()

0

In [141]:
colonne_temporaire = df['DoA'].dt.hour * 100 + df['DoA'].dt.minute

In [144]:
DEBUT_JOURNEE=0
AVANT_MATIN=324
AVANT_APREM=1612
AVANT_NUIT=2212
FIN_JOURNEE=2359
bins=[DEBUT_JOURNEE,
     AVANT_MATIN,
     AVANT_APREM,
     AVANT_NUIT,
     FIN_JOURNEE]

In [145]:
creneau = pd.cut(colonne_temporaire,
                bins=bins,
                labels=['NUIT','MATIN','APRES MIDI','NUIT2'])
creneau

0           MATIN
1           NUIT2
2           MATIN
3           MATIN
4           MATIN
          ...
995         MATIN
996    APRES MIDI
997    APRES MIDI
998    APRES MIDI
999    APRES MIDI
Name: DoA, Length: 1000, dtype: category
Categories (4, object): ['NUIT' < 'MATIN' < 'APRES MIDI' < 'NUIT2']

In [148]:
creneau = creneau.str.replace('2','')

In [149]:
creneau.unique()

array(['MATIN', 'NUIT', 'APRES MIDI'], dtype=object)

In [169]:
creneau = (creneau.astype('category').
           cat.as_ordered().
           cat.reorder_categories(['NUIT','MATIN','APRES MIDI']))