# Question 1

Un kpi est un outil visuel qui permet de repérer les indicateurs de performances de notre projet et ainsi determiner si notre projet se déroule bien ou non

# Question 2

In [59]:
import pandas as pd
import numpy as np

# Question 3

In [60]:
path = "eval_data.csv"
df = pd.read_csv(path)

# Question 4

In [69]:
df.head(10)

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price,devise
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,NaN,NaN
1,1,1,1,Izze,[Clementine],$3.39,$
2,2,1,1,Nantucket Nectar,[Apple],$3.39,$
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,NaN,NaN
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,$
5,5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,$
6,6,3,1,Side of Chips,NaN,$1.69,$
7,7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,$
8,8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25,$
9,9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25,$

# Question 5

In [62]:
df.shape

(4622, 6)

# Question 6

In [76]:
df.dtypes

Unnamed: 0              int64
order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
devise                 object
dtype: object

# Question 7

In [63]:
df.describe()

        Unnamed: 0     order_id     quantity
count  4622.000000  4622.000000  4622.000000
mean   2310.500000   927.254868     1.075725
std    1334.400802   528.890796     0.410186
min       0.000000     1.000000     1.000000
25%    1155.250000   477.250000     1.000000
50%    2310.500000   926.000000     1.000000
75%    3465.750000  1393.000000     1.000000
max    4621.000000  1834.000000    15.000000

# Question 8

In [64]:
#L'item le plus commandé est le Chicken Bowl
df['item_name'].value_counts()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Chips and Roasted Chili-Corn Salsa        18
Veggie Salad Bowl                         18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      7
Veggie Soft Tacos                          7
Burrito                                    6
Carnitas Salad Bowl                        6
Veggie Salad                               6
Steak Salad                                4
Bowl                                       2
Salad                                      2
Crispy Tacos                               2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: item_name, dtype: int64

# Question 9

In [65]:
#4972 items ont été commandés au total
df['quantity'].sum()

4972

# Question 10

In [67]:
df['devise'] = df['item_price'].str[:1]

In [50]:
df.head()

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price,devise
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,NaN,NaN
1,1,1,1,Izze,[Clementine],3.39,$
2,2,1,1,Nantucket Nectar,[Apple],3.39,$
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,NaN,NaN
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,$

In [73]:
df['item_price'] = df['item_price'].str.replace('$','').astype('float')

In [74]:
df.dtypes

Unnamed: 0              int64
order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
devise                 object
dtype: object

In [75]:
df['item_price'].sum()

34261.16

La société à réaliser un chiffre d'affaires de 34261,16€

# Question 11

In [58]:
df['item_price'].sum() / df['quantity'].sum()

6.890820595333871

Le revenu moyen par commande est de 6€89