In [173]:
import pandas as pd
import datetime as dt
path = "https://bit.ly/vintage-auctions"

df=pd.read_csv(path)

In [174]:
df.shape

(1000, 6)

In [175]:
df.dtypes

tx id         object
time          object
auction       object
color         object
shirt size    object
condition     object
dtype: object

In [176]:
df.head()

,tx id,time,auction,color,shirt size,condition
0,8dbf3cfa48b25f32e300f279bb4163c67d5c60cd,3:36 PM,$17.18,Puce,S,used
1,8ccebfdb1a41830bdcc0e926531f3215986b3a90,9:03 AM,$15.19,Aquamarine,L,never worn
2,ae85a421a91cec8baf16ff1e45fb3e239130b584,7:42 PM,$7.58,Violet,L,used
3,85e44f09a04a79182befcfd55e288a855f633e81,10:28 PM,$9.10,Goldenrod,XS,NaN
4,ff750bfca4910cfa7f538fbe5463457839021680,6:38 AM,$8.22,NaN,2XL,used

In [177]:
df.tail()

,tx id,time,auction,color,shirt size,condition
995,6fa16b110f53367cf15e6e1dcffdcb4c2653f1ab,9:56 AM,$5.79,Violet,2XL,NaN
996,2b7b6cbc2224502c7137262575e97a450b336fc2,11:31 AM,$14.07,Purple,S,Used
997,7f2a5141de8a7f752f8f98722393ffa3b0fb1e7a,6:25 AM,$17.63,Yellow,XS,used
998,c4549687dee4d3061fd3c82433367bea083d4d05,2:22 AM,$17.00,Yellow,L,Used
999,abf227d09fe37b3e333b419e0854c6c2fd1caa50,7:47 PM,$17.05,Indigo,XL,used

In [178]:
df.isna().sum()

tx id           0
time            0
auction         0
color          23
shirt size      0
condition     153
dtype: int64

In [179]:
df['condition'].unique()

array(['used', 'never worn', nan, 'Never Worn', 'Used'], dtype=object)

In [180]:
df['devise'] = df['auction'].str[0]

In [181]:
df.head()

,tx id,time,auction,color,shirt size,condition,devise
0,8dbf3cfa48b25f32e300f279bb4163c67d5c60cd,3:36 PM,$17.18,Puce,S,used,$
1,8ccebfdb1a41830bdcc0e926531f3215986b3a90,9:03 AM,$15.19,Aquamarine,L,never worn,$
2,ae85a421a91cec8baf16ff1e45fb3e239130b584,7:42 PM,$7.58,Violet,L,used,$
3,85e44f09a04a79182befcfd55e288a855f633e81,10:28 PM,$9.10,Goldenrod,XS,NaN,$
4,ff750bfca4910cfa7f538fbe5463457839021680,6:38 AM,$8.22,NaN,2XL,used,$

In [182]:
df['auction'] = df['auction'].str[1:]

In [183]:
df.head()

,tx id,time,auction,color,shirt size,condition,devise
0,8dbf3cfa48b25f32e300f279bb4163c67d5c60cd,3:36 PM,17.18,Puce,S,used,$
1,8ccebfdb1a41830bdcc0e926531f3215986b3a90,9:03 AM,15.19,Aquamarine,L,never worn,$
2,ae85a421a91cec8baf16ff1e45fb3e239130b584,7:42 PM,7.58,Violet,L,used,$
3,85e44f09a04a79182befcfd55e288a855f633e81,10:28 PM,9.10,Goldenrod,XS,NaN,$
4,ff750bfca4910cfa7f538fbe5463457839021680,6:38 AM,8.22,NaN,2XL,used,$

In [184]:
df['auction'].max()

'9.98'

In [185]:
df['auction'].min()

'10.06'

In [186]:
df.dtypes

tx id         object
time          object
auction       object
color         object
shirt size    object
condition     object
devise        object
dtype: object

In [187]:
df['auction'] = df['auction'].astype('float')

In [188]:
df['auction'].describe()

count    1000.000000
mean       10.424650
std         4.976071
min         2.020000
25%         5.995000
50%        10.330000
75%        14.797500
max        19.000000
Name: auction, dtype: float64

In [189]:
df.dtypes

tx id          object
time           object
auction       float64
color          object
shirt size     object
condition      object
devise         object
dtype: object

In [190]:
VA_NUL=0
VA_FAIBLE=5
VA_MOYEN=10
VA_FORT=19
bins=[VA_NUL,
     VA_FAIBLE,
     VA_MOYEN,
     VA_FORT]

In [191]:
panier = pd.cut(df['auction'],
               bins=bins,
               labels=['Valeur ajoutée faible','Valeur ajoutée moyenne','Valeur ajoutée forte'])

In [192]:
df['panier'] = panier

In [193]:
df.head()

,tx id,time,auction,color,shirt size,condition,devise,panier
0,8dbf3cfa48b25f32e300f279bb4163c67d5c60cd,3:36 PM,17.18,Puce,S,used,$,Valeur ajoutée forte
1,8ccebfdb1a41830bdcc0e926531f3215986b3a90,9:03 AM,15.19,Aquamarine,L,never worn,$,Valeur ajoutée forte
2,ae85a421a91cec8baf16ff1e45fb3e239130b584,7:42 PM,7.58,Violet,L,used,$,Valeur ajoutée moyenne
3,85e44f09a04a79182befcfd55e288a855f633e81,10:28 PM,9.10,Goldenrod,XS,NaN,$,Valeur ajoutée moyenne
4,ff750bfca4910cfa7f538fbe5463457839021680,6:38 AM,8.22,NaN,2XL,used,$,Valeur ajoutée moyenne

In [194]:
df.tail()

,tx id,time,auction,color,shirt size,condition,devise,panier
995,6fa16b110f53367cf15e6e1dcffdcb4c2653f1ab,9:56 AM,5.79,Violet,2XL,NaN,$,Valeur ajoutée moyenne
996,2b7b6cbc2224502c7137262575e97a450b336fc2,11:31 AM,14.07,Purple,S,Used,$,Valeur ajoutée forte
997,7f2a5141de8a7f752f8f98722393ffa3b0fb1e7a,6:25 AM,17.63,Yellow,XS,used,$,Valeur ajoutée forte
998,c4549687dee4d3061fd3c82433367bea083d4d05,2:22 AM,17.00,Yellow,L,Used,$,Valeur ajoutée forte
999,abf227d09fe37b3e333b419e0854c6c2fd1caa50,7:47 PM,17.05,Indigo,XL,used,$,Valeur ajoutée forte

In [201]:
df['time'] = pd.to_datetime(df['time']).dt.strftime('%H:%M')

In [202]:
df.head()

,tx id,time,auction,color,shirt size,condition,devise,panier
0,8dbf3cfa48b25f32e300f279bb4163c67d5c60cd,15:36,17.18,Puce,S,used,$,Valeur ajoutée forte
1,8ccebfdb1a41830bdcc0e926531f3215986b3a90,09:03,15.19,Aquamarine,L,never worn,$,Valeur ajoutée forte
2,ae85a421a91cec8baf16ff1e45fb3e239130b584,19:42,7.58,Violet,L,used,$,Valeur ajoutée moyenne
3,85e44f09a04a79182befcfd55e288a855f633e81,22:28,9.10,Goldenrod,XS,NaN,$,Valeur ajoutée moyenne
4,ff750bfca4910cfa7f538fbe5463457839021680,06:38,8.22,NaN,2XL,used,$,Valeur ajoutée moyenne

In [206]:
df['time'] = pd.to_datetime(df['time'])

In [207]:
df.dtypes

tx id                 object
time          datetime64[ns]
auction              float64
color                 object
shirt size            object
condition             object
devise                object
panier              category
dtype: object

In [209]:
colonne_temporaire = df['time'].dt.hour * 100 + df['time'].dt.minute
colonne_temporaire

0      1536
1       903
2      1942
3      2228
4       638
       ...
995     956
996    1131
997     625
998     222
999    1947
Name: time, Length: 1000, dtype: int64

In [213]:
DEBUT_JOURNEE=0
AVANT_MATIN=800
AVANT_MANGER=1130
MANGER=1500
AVANT_SOIREE=2000
SOIREE=2359
bins=[DEBUT_JOURNEE,
     AVANT_MATIN,
     AVANT_MANGER,
     MANGER,
     AVANT_SOIREE,
     SOIREE]

In [218]:
creneau = pd.cut(colonne_temporaire,
      bins=bins,
      labels=["NUIT","MATIN","MIDI","APRES MIDI","SOIREE"])
creneau

0      APRES MIDI
1           MATIN
2      APRES MIDI
3          SOIREE
4            NUIT
          ...
995         MATIN
996          MIDI
997          NUIT
998          NUIT
999    APRES MIDI
Name: time, Length: 1000, dtype: category
Categories (5, object): ['NUIT' < 'MATIN' < 'MIDI' < 'APRES MIDI' < 'SOIREE']