# Get_dummies

In [8]:
import pandas as pd

path = "https://bit.ly/missing-values"
df = pd.read_csv(path)

In [9]:
for nom_col in ['rating'] :
    idx = df.columns.get_loc(nom_col)
    df.insert(idx+1,
             nom_col+'_nan',
             df[nom_col].isna().astype('int'))

In [13]:
df['rating'].fillna(df['rating'].mean(),
                   inplace=True)

In [14]:
df.head()

  color    rating  rating_nan
0   NaN  1.160000           0
1   Red  3.066672           1
2  Blue  2.540000           0
3   Red  1.510000           0
4   Red  3.066672           1

In [11]:
df['color'] = df['color'].astype('category')

In [12]:
df.dtypes

color         category
rating         float64
rating_nan       int32
dtype: object

In [19]:
df = pd.get_dummies(df,
              dummy_na=True,
              columns=['color'])

In [20]:
df.dtypes

rating          float64
rating_nan        int32
color_Blue        uint8
color_Orange      uint8
color_Red         uint8
color_Yellow      uint8
color_nan         uint8
dtype: object

# Suppression colonne

df.drop('NOM_COLONNE',
        axis='columns',
        inplace=True)

# Sauvegarde de dataset

df.to_csv('nom_fichier.csv',
          index=None)