# Inserer une colonne pour renseigner la présence de valeurs manquantes (NUMERIQUE/ORDINAL)

In [1]:
import pandas as pd
path = "https://bit.ly/missing-values"
df=pd.read_csv(path)

In [2]:
df.head()

  color  rating
0   NaN    1.16
1   Red     NaN
2  Blue    2.54
3   Red    1.51
4   Red     NaN

In [3]:
df.isna().sum()

color     129
rating    256
dtype: int64

In [4]:
df.isna().mean()

color     0.140676
rating    0.279171
dtype: float64

Insertion de valeur par boucle

In [7]:
" ici, n'incluer que le nom des colonnes NUMERIQUES/ORDINAL"
for nom_colonne in ['color','rating']:
    index_colonne = df.columns.get_loc(nom_colonne)
    df.insert(index_colonne+1,
             nom_colonne+'_nan',
             df[nom_colonne].isna().astype('int8'))

In [8]:
df.head()

  color  color_nan  rating  rating_nan
0   NaN          1    1.16           0
1   Red          0     NaN           1
2  Blue          0    2.54           0
3   Red          0    1.51           0
4   Red          0     NaN           1

la touche final pour les colonnes ordinales
'colonnne.cat.codes'

la touche finale pour les colonnes numériques
as_type('int') ou as_type('float')