In [25]:
import pandas as pd
chem = "https://bit.ly/felonies-dataset"
df = pd.read_csv(chem)

In [2]:
df.shape

(1000, 3)

In [3]:
df.dtypes

Date of Arrest    object
Age                int64
Convicted         object
dtype: object

In [4]:
df.head()

        Date of Arrest  Age Convicted
0  2014-07-16 14:59:18   77       Yes
1  2002-12-19 22:17:59   28       Yes
2  1994-06-28 09:31:40   21        No
3  1985-05-14 09:52:17   45       Yes
4  1985-05-25 14:06:28   39       Yes

Comment transformer une valeur numérique en catégorie

On utilise la fonction cut() de pandas qui va prendre comme argument cut(SERIES, BINS, LABELS)

In [6]:
#fonction descibe() permettant de retrouver le minimum et le maximum
df['Age'].describe()

count    1000.000000
mean       54.605000
std        25.225172
min        10.000000
25%        33.000000
50%        53.000000
75%        76.000000
max        99.000000
Name: Age, dtype: float64

In [7]:
a = pd.cut(df['Age'],
      bins=[10,14,20,65,100],
      labels=['Child','Ado','Adulte','Senior'])

Pour savoir si on nos bornes prennent bien toutes les valeurs on peut exécuter un .isna().sum() et si on trouve une valeur autre que 0 c'est que nos bornes(bins) ne sont pas bonnes et ne prennent pas toutes les valeurs (sauf si on avait déjà des valeurs manquantes avant même d'effectuer notre cut)

In [9]:
a.isna().sum()

13

Dans le bins la valeur tout à gauche est exclue alors que celle de droite est incluse.

In [10]:
exo1 = pd.Series(data=[0,1,2,3])

In [19]:
pd.cut(exo1,
      bins=[0,1,3],
      labels=["A","B"])

0    NaN
1      A
2      B
3      B
dtype: category
Categories (2, object): ['A' < 'B']

### EXO

In [31]:
prefix = ["ten","twen","thir","four","fif","six","seven","eigh","nine"]
labels = [p +'ties' for p in prefix]
labels

['tenties',
 'twenties',
 'thirties',
 'fourties',
 'fifties',
 'sixties',
 'seventies',
 'eighties',
 'nineties']

In [32]:
bins =list(range(9,99+1,10))
bins

[9, 19, 29, 39, 49, 59, 69, 79, 89, 99]

In [33]:
pd.cut(df['Age'],
      bins=bins,
      labels=labels)

0      seventies
1       twenties
2       twenties
3       fourties
4       thirties
         ...
995    seventies
996      sixties
997     eighties
998     twenties
999      fifties
Name: Age, Length: 1000, dtype: category
Categories (9, object): ['tenties' < 'twenties' < 'thirties' < 'fourties' ... 'sixties' < 'seventies' < 'eighties' < 'nineties']

In [34]:
df['Decade'] = pd.cut(df['Age'],
      bins=bins,
      labels=labels)

In [35]:
df.head()

        Date of Arrest  Age Convicted     Decade
0  2014-07-16 14:59:18   77       Yes  seventies
1  2002-12-19 22:17:59   28       Yes   twenties
2  1994-06-28 09:31:40   21        No   twenties
3  1985-05-14 09:52:17   45       Yes   fourties
4  1985-05-25 14:06:28   39       Yes   thirties

In [37]:
df.isna().sum()

Date of Arrest    0
Age               0
Convicted         0
Decade            0
dtype: int64

In [38]:
df.dtypes

Date of Arrest      object
Age                  int64
Convicted           object
Decade            category
dtype: object

In [40]:
dir(df['Decade'].cat)

['__annotations__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_accessors',
 '_add_delegate_accessors',
 '_constructor',
 '_delegate_method',
 '_delegate_property_get',
 '_delegate_property_set',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_freeze',
 '_reset_cache',
 '_validate',
 'add_categories',
 'as_ordered',
 'as_unordered',
 'categories',
 'codes',
 'ordered',
 'remove_categories',
 'remove_unused_categories',
 'rename_categories',
 'reorder_categories',
 'set_categories']

In [41]:
df['Decade'].cat.codes

0      6
1      1
2      1
3      3
4      2
      ..
995    6
996    5
997    7
998    1
999    4
Length: 1000, dtype: int8