In [2]:
import pandas as pd

path = "https://bit.ly/felonies-dataset"
df = pd.read_csv(path)

In [3]:
df.shape

(1000, 3)

In [4]:
df.dtypes

Date of Arrest    object
Age                int64
Convicted         object
dtype: object

In [5]:
df.head()

        Date of Arrest  Age Convicted
0  2014-07-16 14:59:18   77       Yes
1  2002-12-19 22:17:59   28       Yes
2  1994-06-28 09:31:40   21        No
3  1985-05-14 09:52:17   45       Yes
4  1985-05-25 14:06:28   39       Yes

## A la dure

In [7]:
df.rename(columns={"Date of Arrest":"DoA"}, inplace=True)

In [8]:
df.head()

                   DoA  Age Convicted
0  2014-07-16 14:59:18   77       Yes
1  2002-12-19 22:17:59   28       Yes
2  1994-06-28 09:31:40   21        No
3  1985-05-14 09:52:17   45       Yes
4  1985-05-25 14:06:28   39       Yes

In [10]:
df['DoA'].max()

'2020-01-28 13:33:46'

Extraction de seulement l'année pour créer une colonne Year (il faudrait refaire cette méthode pour chaque catégorie, mois, jour, heure, minutes, secondes

In [11]:
df.DoA.str.slice(0,4)

0      2014
1      2002
2      1994
3      1985
4      1985
       ...
995    1992
996    1996
997    1980
998    1999
999    1996
Name: DoA, Length: 1000, dtype: object

### A la cool

In [13]:
pd.to_datetime(df['DoA'])

0     2014-07-16 14:59:18
1     2002-12-19 22:17:59
2     1994-06-28 09:31:40
3     1985-05-14 09:52:17
4     1985-05-25 14:06:28
              ...
995   1992-02-04 14:24:25
996   1996-04-29 18:03:23
997   1980-07-15 21:59:27
998   1999-07-05 17:16:12
999   1996-03-17 18:29:25
Name: DoA, Length: 1000, dtype: datetime64[ns]

In [14]:
df['DoA'] = pd.to_datetime(df['DoA'])

In [15]:
df.dtypes

DoA          datetime64[ns]
Age                   int64
Convicted            object
dtype: object

### on utilise la méthode dt (pour datetime) pour extraire rapidement la partie de la date que l'on veut

In [16]:
df['DoA'].dt.year

0      2014
1      2002
2      1994
3      1985
4      1985
       ...
995    1992
996    1996
997    1980
998    1999
999    1996
Name: DoA, Length: 1000, dtype: int64

In [17]:
df['DoA'].dt.day

0      16
1      19
2      28
3      14
4      25
       ..
995     4
996    29
997    15
998     5
999    17
Name: DoA, Length: 1000, dtype: int64

In [18]:
df['DoA'].dt.month

0       7
1      12
2       6
3       5
4       5
       ..
995     2
996     4
997     7
998     7
999     3
Name: DoA, Length: 1000, dtype: int64

In [20]:
df['DoA'].dt.hour #etc

0      14
1      22
2       9
3       9
4      14
       ..
995    14
996    18
997    21
998    17
999    18
Name: DoA, Length: 1000, dtype: int64

In [37]:
labels=['six','seven','eigh','nine','zero','ten','twen']
labels=[l+"ties" for l in labels]
labels

['sixties',
 'seventies',
 'eighties',
 'nineties',
 'zeroties',
 'tenties',
 'twenties']

In [38]:
from datetime import datetime

year = lambda y: datetime(year=y, month=1, day=15)

bins = list(range(1959,2030,10))

bins = [year(b) for b in bins]

In [39]:
pd.cut(df['DoA'],
      bins=bins,
      labels=labels)

0       tenties
1      zeroties
2      nineties
3      eighties
4      eighties
         ...
995    nineties
996    nineties
997    eighties
998    zeroties
999    nineties
Name: DoA, Length: 1000, dtype: category
Categories (7, object): ['sixties' < 'seventies' < 'eighties' < 'nineties' < 'zeroties' < 'tenties' < 'twenties']