In [3]:
import pandas as pd

path = "https://bit.ly/missing-values"
df = pd.read_csv(path)

for nom_col in ['color','rating'] :
    idx = df.columns.get_loc(nom_col)
    df.insert(idx+1,
             nom_col+'_nan',
             df[nom_col].isna().astype('int'))

In [5]:
df.head()

  color  color_nan  rating  rating_nan
0   NaN          1    1.16           0
1   Red          0     NaN           1
2  Blue          0    2.54           0
3   Red          0    1.51           0
4   Red          0     NaN           1

In [7]:
df['color'].isna().sum()

129

In [ ]:
df['color'].fillna('')

In [10]:
df['rating'].fillna(df['rating'].mean())

0      1.160000
1      3.066672
2      2.540000
3      1.510000
4      3.066672
         ...
912    3.400000
913    3.066672
914    1.240000
915    2.640000
916    3.066672
Name: rating, Length: 917, dtype: float64

value_counts() permet de voir quelle valeur est la plus fréquente ce qui peut nous permettre de remplacer nos valeurs manquantes par la valeur la plus présente dans le dataset

In [11]:
df['color'].value_counts()

Blue      323
Red       234
Orange    154
Yellow     77
Name: color, dtype: int64

In [12]:
df['color'].fillna('Blue')

0        Blue
1         Red
2        Blue
3         Red
4         Red
        ...
912      Blue
913       Red
914      Blue
915    Yellow
916      Blue
Name: color, Length: 917, dtype: object

Obtenir l'itération la plus fréquent .mode()

In [13]:
df['color'].mode()

0    Blue
dtype: object

In [14]:
df['color'].fillna('Manquant')

0      Manquant
1           Red
2          Blue
3           Red
4           Red
         ...
912        Blue
913         Red
914    Manquant
915      Yellow
916        Blue
Name: color, Length: 917, dtype: object

On remplace les données manquantes de rating par des données hors de la limite des rating déjà présent

In [15]:
df['rating'].max()

5.0

In [16]:
df['rating'].min()

1.0

In [17]:
df['rating'].fillna(0)

0      1.16
1      0.00
2      2.54
3      1.51
4      0.00
       ...
912    3.40
913    0.00
914    1.24
915    2.64
916    0.00
Name: rating, Length: 917, dtype: float64