## Raccourci clavier

#### Pour ces raccourcis il faut sélectionner la cellule et cliquer sur la gauche (la partie non textuel), l'encart doit être bleu pour que les raccourcis fonctionnent

r = row : passe la cellule en texte brut, cela permet de passer du code en texte brut qui ne sera pas exécuter lorsque l'on exécute tout le code

m = markdown : permet de passer la cellule en markdown

a : créer une cellule au dessus

b : créer une cellule en dessous

# Ouvrir CSV

### EXO - 1

import pandas as pd

df = pd.read_csv("Https://bit.ly/world-cities-clean")

df.head()

### Solution 1

In [57]:
import pandas as pd

chemin = "Https://bit.ly/world-cities-clean"

df = pd.read_csv(chemin)

df.head()

               name               country          subcountry  geonameid
0      les Escaldes               Andorra  Escaldes-Engordany    3040051
1  Andorra la Vella               Andorra    Andorra la Vella    3041563
2    Umm al Qaywayn  United Arab Emirates      Umm al Qaywayn     290594
3    Ras al-Khaimah  United Arab Emirates     Raʼs al Khaymah     291074
4      Khawr Fakkān  United Arab Emirates        Ash Shāriqah     291696

### EXO - 2

In [61]:
import pandas as pd
chemin = "chemin/qui/nexistepas"
df = pd.read_csv(chemin)

FileNotFoundError: [Errno 2] No such file or directory: 'chemin/qui/nexistepas'

#### Erreur en français

Pas de fichier ou de dossier pour "chemin/qui/nexistepas"

#### Solution

vérifier le chemin d'accès entré et l'orthographe du chemin, que celui-ci existe bien

### EXO - 3

Le fichier récupérer ne possède pas d'en-tête et read_csv utilise les valeurs de la première ligne comme en-tête, il faut donc ajouter à la main le nom des en-tête

In [43]:
import pandas as pd
chemin = "https://bit.ly/world-cities-dirty-v1"
header_list = ['name','country','subcountry','geonameid']
data = pd.read_csv(chemin,header=0, names=header_list)
data.head()

               name               country        subcountry  geonameid
0  Andorra la Vella               Andorra  Andorra la Vella    3041563
1    Umm al Qaywayn  United Arab Emirates    Umm al Qaywayn     290594
2    Ras al-Khaimah  United Arab Emirates   Raʼs al Khaymah     291074
3      Khawr Fakkān  United Arab Emirates      Ash Shāriqah     291696
4             Dubai  United Arab Emirates             Dubai     292223

### EXO - 4

Dans le fichier il y a un Lorem ipsum en plus des données que nous voulons qui se situe sur 2 lignes en haut du fichier et 1 ligne en bas du fichier il faut donc lire le fichier en retirant ces lignes qui ne nous intéressent pas

### Je constate ici un problème d'encodage

In [55]:
import pandas as pd
chemin = "https://bit.ly/world-cities-dirty-v2"
data = pd.read_csv(chemin, skiprows=2, skipfooter=1)
data.head()

<ipython-input-55-a402675e631c>:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  data = pd.read_csv(chemin, skiprows=2, skipfooter=1)

UnicodeDecodeError: 'charmap' codec can't decode byte 0x81 in position 1580: character maps to <undefined>

### Résolution encoding

#### On ajoute l'option "encoding='UTF-8'" à la fonction read_csv()

In [56]:
import pandas as pd
chemin = "https://bit.ly/world-cities-dirty-v2"
data = pd.read_csv(chemin, skiprows=2, skipfooter=1, encoding='UTF-8')
data.head()

<ipython-input-56-9b2f742fa187>:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  data = pd.read_csv(chemin, skiprows=2, skipfooter=1, encoding='UTF-8')

               name               country          subcountry  geonameid
0      les Escaldes               Andorra  Escaldes-Engordany    3040051
1  Andorra la Vella               Andorra    Andorra la Vella    3041563
2    Umm al Qaywayn  United Arab Emirates      Umm al Qaywayn     290594
3    Ras al-Khaimah  United Arab Emirates     Raʼs al Khaymah     291074
4      Khawr Fakkān  United Arab Emirates        Ash Shāriqah     291696

### EXO - 5

Le problème du fichier ici est que le séparateur n'est pas une virgule mais un | et read_csv utilise par défaut des virgules comme séparateur, il faut donc changer cette valeur par défaut pour lui dire que notre séparateur de données ici est |. Il faut également rajouter le nom des colonnes

In [60]:
import pandas as pd
chemin = "https://bit.ly/world-cities-dirty-v3"
data = pd.read_csv(chemin, sep='|', names=['name','country','subcountry','geonameid'])
data.head()

               name               country          subcountry  geonameid
0      les Escaldes               Andorra  Escaldes-Engordany    3040051
1  Andorra la Vella               Andorra    Andorra la Vella    3041563
2    Umm al Qaywayn  United Arab Emirates      Umm al Qaywayn     290594
3    Ras al-Khaimah  United Arab Emirates     Raʼs al Khaymah     291074
4      Khawr Fakkān  United Arab Emirates        Ash Shāriqah     291696

# Rituel

# Bonne pratique et code à maintenir

- df.shape pour regarder le nombres de ligne et de colonnes
- df.dtypes pour regarder le nom des colonnes et leur type d'un seul coup (j'en profite pour repérer d'éventuel conversion de types qu'il faudra effectuer)
- df.head() pour regarder à quoi ressemble les premières lignes du dataset.
- df.tail() pour regarder les dernières lignes du dataset. J'en profite pour comparer le résultat de head avec celui de tail, y-a-t'il une quelconque différence? Parfois les anomalies sont rangées à la fin du dataset.
- df.isna().sum() pour vérifier la présence de valeurs manquantes par colonnes.

## 1er exemple

In [86]:
import pandas as pd
chemin = "https://bit.ly/world-cities-dirty-v3"
data = pd.read_csv(chemin, sep='|', names=['name','country','subcountry','geonameid'])

In [62]:
data.shape

(23018, 4)

In [63]:
data.dtypes

name          object
country       object
subcountry    object
geonameid      int64
dtype: object

In [65]:
data.head()

               name               country          subcountry  geonameid
0      les Escaldes               Andorra  Escaldes-Engordany    3040051
1  Andorra la Vella               Andorra    Andorra la Vella    3041563
2    Umm al Qaywayn  United Arab Emirates      Umm al Qaywayn     290594
3    Ras al-Khaimah  United Arab Emirates     Raʼs al Khaymah     291074
4      Khawr Fakkān  United Arab Emirates        Ash Shāriqah     291696

In [66]:
data.tail()

              name   country           subcountry  geonameid
23013     Bulawayo  Zimbabwe             Bulawayo     894701
23014      Bindura  Zimbabwe  Mashonaland Central     895061
23015   Beitbridge  Zimbabwe   Matabeleland South     895269
23016      Epworth  Zimbabwe               Harare    1085510
23017  Chitungwiza  Zimbabwe               Harare    1106542

### On constate avec le data.isna().sum() qu'il y 26 valeurs manquantes dans le dataset pour la colonne subcountry

In [84]:
data.isna().sum()

name           0
country        0
subcountry    26
geonameid      0
dtype: int64

## 2ème exemple

### Ici grâce au df.tail() on à pu voir que nous avions des données que nous ne voulions pas à la fin du dataset, ce qui c'est matérialiser par deux NA présent sur chaque colonne que l'on à pu constater grâce au df.isna().sum(). On retire donc les deux dernières lignes avec un skipfooter dans le read_csv()

In [81]:
import pandas as pd
chem = "https://bit.ly/bitcoin-data"
df = pd.read_csv(chem, skipfooter=2)

<ipython-input-81-4754f5d88b92>:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(chem, skipfooter=2)

In [74]:
df.shape

(31, 7)

In [75]:
df.dtypes

Date           object
Open*         float64
High          float64
Low           float64
Close**       float64
Volume          int64
Market Cap      int64
dtype: object

In [76]:
df.head()

          Date    Open*     High      Low  Close**       Volume    Market Cap
0  Jan 14 2020  8140.93  8879.51  8140.93  8827.76  44841784107  160319484883
1  Jan 13 2020  8189.77  8197.79  8079.70  8144.19  22482910688  147890525973
2  Jan 12 2020  8033.26  8200.06  8009.06  8192.49  22903438381  148752956966
3  Jan 11 2020  8162.19  8218.36  8029.64  8037.54  25521165085  145924199942
4  Jan 10 2020  7878.31  8166.55  7726.77  8166.55  28714583844  148249907277

In [77]:
df.tail()

           Date    Open*     High      Low  Close**       Volume    Market Cap
26  Dec 19 2019  7277.59  7346.60  7041.38  7202.84  25904604416  130445758713
27  Dec 18 2019  6647.70  7324.98  6540.05  7276.80  31836522778  131754969804
28  Dec 17 2019  6931.32  6964.07  6587.97  6640.52  22363804217  120234244809
29  Dec 16 2019  7153.66  7171.17  6903.68  6932.48  20213265950  125515586952
30  Dec 15 2019  7124.24  7181.08  6924.38  7152.30  16881129804  129481424648

In [82]:
df.isna().sum()

Date          0
Open*         0
High          0
Low           0
Close**       0
Volume        0
Market Cap    0
dtype: int64

# Inplace

### Les séries en pandas représentent une seule colonne, la colonne index, la colonne du nom des champs ou une colonne en particulier de notre dataset

Inplace permet de modifier notre dataset, par défaut inplace=false, si inplace=true alors on modifie notre dataset original, tant que l'on effectue des modifications sans préciser inplace=true, les modifications ne se font que sur la vue que l'on créée.
Un indicateur nous permettant de savoir si nous modifions notre datframe est que lorsque l'on exécute notre cellule, si un résultat apparaît alors nous n'avons pas modifier notre dataset. Si il n'apparaît pas alors nous avons fait la modification car il retourne un objet de type None de base

#### 2 manière de supprimer le nom d'une colonne de notre dataset df

In [ ]:
df.drop('Open*',
        axis='columns',
        inplace=true)

In [ ]:
df = drop('Open*',
          axis='columns')

### Remplacer des caractères dans un dataframe

In [87]:
toy = pd.DataFrame(data={'a' : [1,2],
                        'b' : [3,3]})

In [88]:
toy

   a  b
0  1  3
1  2  3

#### Méthode 1

In [104]:
def higher(s):
    s = str.upper(s)
    return s

In [109]:
toy.rename(higher, 
           axis='columns',
          inplace=True)

#### Méthode 2

In [110]:
toy.columns = toy.columns.str.upper()